<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chernybro.wb1">

    <!--> разрешение на чтение календаря для провайдера <!-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WB1">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--> Наши активности для компонентов <!-->
        <activity android:name=".service.ServiceActivity"/>
        <activity android:name=".receiver.ReceiverActivity"/>
        <activity android:name=".provider.ProviderActivity"/>

        <service android:name=".service.ServiceImpl"/>

        <receiver
            android:name=".receiver.BroadcastReceiverImpl"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <provider
            android:authorities="com.chernybro.wb1.authority"
            android:name=".provider.ContentProviderImpl" />


    </application>

</manifest>